<div fxLayout="column" fxLayoutAlign="space-between stretch">
  @if(aiService.services.length === 0) {
  <mat-form-field class="full">
    <mat-label>Default service</mat-label>
    <mat-select [formControl]="selection">
      @for(model of services; track model) {
      <mat-option [value]="model">
        {{ model }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  }
  <mat-tab-group>
    @for(service of aiService.services; track service) {
    <mat-tab [label]="service.label">
      <ng-container *ngComponentOutlet="service.component"></ng-container>
    </mat-tab>
    }
  </mat-tab-group>
</div>
