<form [formGroup]="form" (ngSubmit)="submit()" fxLayout="column">
  <mat-form-field>
    <mat-label>Token</mat-label>
    <input matInput formControlName="token" title="Token" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Model</mat-label>
    <input matInput formControlName="model" title="Model" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Project ID</mat-label>
    <input matInput formControlName="projectId" title="Project ID" />
  </mat-form-field>

  <button mat-flat-button type="submit" [disabled]="form.invalid">Save</button>
</form>
