<form [formGroup]="form" (ngSubmit)="submit()" fxLayout="column">
  <mat-form-field>
    <mat-label>API Key</mat-label>
    <input matInput formControlName="apiKey" placeholder="sk-proj-" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Project ID</mat-label>
    <input matInput formControlName="projectId" placeholder="proj_" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Model</mat-label>
    <mat-select formControlName="model">
      @for(model of models; track model) {
      <mat-option [value]="model">
        {{ model }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button type="button" (click)="delete()">Delete</button>
    <button mat-flat-button type="submit" [disabled]="form.invalid">
      Save
    </button>
  </div>
</form>
