<div fxLayout="column">
  <form [formGroup]="form" (ngSubmit)="transform()" fxLayout="column">
    <mat-form-field>
      <mat-label>Prompt</mat-label>
      <mat-select formControlName="prompt">
        @for(prompt of prompts; track prompt) {
        <mat-option [value]="prompt">{{ prompt }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="16px">
      <div fxLayout="column" fxFlex="50">
        <mat-form-field>
          <mat-label>Input</mat-label>
          <textarea
            formControlName="input"
            matInput
            placeholder="Enter Text here"
            rows="7"
          ></textarea>
        </mat-form-field>
        <button type="submit" mat-flat-button [disabled]="form.invalid">
          Transform
        </button>
      </div>
      <div fxLayout="column" fxFlex="50">
        <mat-form-field>
          <mat-label>Output</mat-label>
          <textarea
            [formControl]="output"
            matInput
            readonly="true"
            placeholder="Optimized output"
            rows="7"
          ></textarea>
          <button
            mat-icon-button
            matSuffix
            [cdkCopyToClipboard]="output.value!"
            [disabled]="output.invalid"
            type="button"
          >
            <mat-icon>content_copy</mat-icon>
          </button>
        </mat-form-field>
        @if(popup) {
        <button
          mat-flat-button
          (click)="insert()"
          [disabled]="output.invalid"
          type="button"
        >
          Insert
        </button>
        }
      </div>
    </div>
  </form>
</div>
